In [ ]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [ ]:
#reading data
lom_train = pd.read_csv('/content/lom_train.csv')

In [ ]:
lom_train

        NPLV  VDL   NML    VES
0     510008    4  К     56500
1     510008    8  О     16700
2     510008   13  КП     3000
3     510009    4  К     49800
4     510009    8  О     22800
...      ...  ...   ...    ...
6371  512321    8  О      4200
6372  512321   13  КП     3000
6373  512322    4  К     66700
6374  512322   13  КП     6000
6375  512322   48  У2КШ   3400

[6376 rows x 4 columns]

Количество уникальных значений:

In [ ]:
lom_train.nunique()

NPLV    2063
VDL       10
NML       10
VES      866
dtype: int64

Бинаризация категориальных признаков:

In [ ]:
lom_train = pd.get_dummies(lom_train, columns=['NML'])
lom_train = pd.get_dummies(lom_train, columns=['VDL'])

In [ ]:
lom_train

        NPLV    VES  NML_25КШ  NML_К     ...  VDL_48  VDL_49  VDL_61  VDL_63
0     510008  56500         0         1  ...       0       0       0       0
1     510008  16700         0         0  ...       0       0       0       0
2     510008   3000         0         0  ...       0       0       0       0
3     510009  49800         0         1  ...       0       0       0       0
4     510009  22800         0         0  ...       0       0       0       0
...      ...    ...       ...       ...  ...     ...     ...     ...     ...
6371  512321   4200         0         0  ...       0       0       0       0
6372  512321   3000         0         0  ...       0       0       0       0
6373  512322  66700         0         1  ...       0       0       0       0
6374  512322   6000         0         0  ...       0       0       0       0
6375  512322   3400         0         0  ...       1       0       0       0

[6376 rows x 22 columns]

In [ ]:
lom_train.columns

Index(['NPLV', 'VES', 'NML_25КШ', 'NML_К   ', 'NML_КП  ', 'NML_КШС8',
       'NML_ЛЧ  ', 'NML_НБ  ', 'NML_О   ', 'NML_ОК  ', 'NML_СК  ', 'NML_У2КШ',
       'VDL_3', 'VDL_4', 'VDL_8', 'VDL_13', 'VDL_20', 'VDL_23', 'VDL_48',
       'VDL_49', 'VDL_61', 'VDL_63'],
      dtype='object')

Группировка по номеру плавки

In [ ]:
lom_train = lom_train.groupby('NPLV').agg({'VES': 'sum',
                               'NML_25КШ': 'sum',
                               'NML_К   ': 'sum',
                               'NML_КП  ': 'sum',
                               'NML_КШС8': 'sum',
                               'NML_ЛЧ  ': 'sum',
                               'NML_НБ  ': 'sum',
                               'NML_О   ': 'sum',
                               'NML_ОК  ': 'sum',
                               'NML_СК  ': 'sum',
                               'NML_У2КШ' : 'sum',
                             'VDL_3':'sum',
                             'VDL_4':'sum',
                             'VDL_8':'sum', 
                             'VDL_13':'sum', 
                             'VDL_20':'sum', 
                             'VDL_23':'sum', 
                             'VDL_48':'sum',
                             'VDL_49':'sum',
                              'VDL_61':'sum',
                               'VDL_63':'sum'})

Стандартизация признака вес лома

In [ ]:
scaler = StandardScaler()

In [ ]:
lom_train['VES'] = scaler.fit_transform(np.array(lom_train['VES']).reshape(-1,1))

In [ ]:
lom_train.columns

Index(['VES', 'NML_25КШ', 'NML_К   ', 'NML_КП  ', 'NML_КШС8', 'NML_ЛЧ  ',
       'NML_НБ  ', 'NML_О   ', 'NML_ОК  ', 'NML_СК  ', 'NML_У2КШ', 'VDL_3',
       'VDL_4', 'VDL_8', 'VDL_13', 'VDL_20', 'VDL_23', 'VDL_48', 'VDL_49',
       'VDL_61', 'VDL_63'],
      dtype='object')

In [ ]:
lom_train = lom_train.reset_index()

In [ ]:
lom_train=lom_train.drop(['NML_НБ  ','VDL_3'], axis=1)

In [ ]:
lom_train.to_csv('lom_train_csv.csv', index=False)

In [ ]:
lom_train

        NPLV       VES  NML_25КШ  NML_К     ...  VDL_48  VDL_49  VDL_61  VDL_63
0     510008  0.617463         0         1  ...       0       0       0       0
1     510009  0.831222         0         1  ...       0       0       0       0
2     510010  0.626370         0         1  ...       0       0       0       0
3     510011  1.321085         0         1  ...       0       0       0       0
4     510012  0.608556         0         1  ...       0       0       0       0
...      ...       ...       ...       ...  ...     ...     ...     ...     ...
2058  512318  0.385891         0         1  ...       1       0       0       0
2059  512319  0.653089         0         1  ...       0       0       0       0
2060  512320 -0.451330         0         1  ...       1       0       0       0
2061  512321 -0.273198         0         1  ...       0       0       0       0
2062  512322  0.608556         0         1  ...       1       0       0       0

[2063 rows x 20 columns]

In [ ]:
lom_test = pd.read_csv('/content/lom_test.csv')

In [ ]:
def preparation(lom_train):
  lom_train = pd.get_dummies(lom_train, columns=['NML'])
  lom_train = pd.get_dummies(lom_train, columns=['VDL'])
  lom_train = lom_train.groupby('NPLV').agg({'VES': 'sum',
                               'NML_25КШ': 'sum',
                               'NML_К   ': 'sum',
                               'NML_КП  ': 'sum',
                               'NML_КШС8': 'sum',
                               'NML_ЛЧ  ': 'sum',
                               
                               'NML_О   ': 'sum',
                               'NML_ОК  ': 'sum',
                               'NML_СК  ': 'sum', 'NML_У2КШ' : 'sum',
                             
                             'VDL_4':'sum',
                             'VDL_8':'sum', 
                             'VDL_13':'sum', 
                             'VDL_20':'sum', 
                             'VDL_23':'sum', 
                             'VDL_48':'sum',
                             'VDL_49':'sum',
                              'VDL_61':'sum',
                               'VDL_63':'sum' })
  lom_train['VES'] = scaler.fit_transform(np.array(lom_train['VES']).reshape(-1,1))
  return lom_train

In [ ]:
lom_test = preparation(lom_test)

In [ ]:
lom_test = lom_test.reset_index()

In [ ]:
lom_test.to_csv('lom_test_csv.csv', index=False)